// @use 'intro' as *;
// @use 'article' as *;
//@import '/node_modules/bootstrap/dist/css/bootstrap.css';

@font-face {
  font-family: 'Archivo';
  src: url('../fonts/Archivo-VariableFont_wdth\,wght.ttf')
}
@font-face {
  font-family: 'Lokanova';
  src: url('../fonts/Lokanova-Std.otf')
}
@font-face {
  font-family: 'Tanker';
  src: url('../fonts/Tanker-Regular.otf')
}
@font-face {
  font-family: 'Melodrama';
  src: url('../fonts/Melodrama-Semibold.otf')
}
title {
  display: none;
}

/**NAVEGADOR**/
.current-page {
  text-decoration: var(--RED) underline 7px;
  background-color:transparent;
}
.abrir__menu,
.cerrar__menu {
  display: none;
}
.main-nav__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: auto;
  margin-top: 30px;
  list-style-type: none;
  
}
.main-nav__link--info {
  display: flex;
  gap: 20px;
}

.main-nav{
  position: relative;
  z-index: 1;
  display: flex;
  align-items:center;
  justify-content: space-between; 
  width: 100%;
  margin: auto !important;
}

.main-nav__item{
  display: flex;
  margin: auto;
}

.main-nav__link, .main-nav__link--logo {
  display: flex;
  justify-content: space-between;
  padding: 7px;
  font-family: 'Tanker', sans-serif;
  font-size: 1.5rem;
  color: var(--WHITE);
  text-decoration: none;
  letter-spacing: 1px;
  border-radius: 5px;
}

.main-nav__link:hover, .main-nav__link--logo:hover {
  color: var(--RED);
  text-decoration: underline;
}



/*FOOTER*/
footer {
  position: relative;
  background-color: var(--WHITE);
}
footer li {
  list-style: none;
}
.footer--header {
  padding-top: 30px;
  font-family: 'Tanker', sans-serif;
  text-align: center;
}
.footer--info {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.info--1 {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  width: 70%;
  padding: 50px;
  margin: auto;
}

.footer-link {
  padding: 15px;
  font-family: 'Archivo', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: var(--WHITE);
  text-align: center;
  text-decoration: none;
  letter-spacing: 1.5px;
  background-color: var(--RED);
  border-radius: 15px;
}
.footer-link:hover {
  color: var(--BLACK);
}
.mapa {
  width: 100%;
  height: fit-content;
}
.contenedor__ubicacion {
  z-index: 9;
  display: inline-block;
  width: 100%;
  padding: 20px;
  margin: auto;
}
.ubiacion__mapa--mapa {
  width: 100%;
}

.footer-enlaces {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px;
}
.main-nav__footer, .nav--list__footer, .footer--rrss {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;

}
.link--logo__footer {
  padding: 15px;
  margin: 30px;
  font-family: 'Tanker', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: var(--BLACK);
  text-decoration: none;
  letter-spacing: 1.5px;
  border-radius: 15px;
}
.link--logo__footer:hover {
  color: var(--RED);
  text-decoration: underline var(--RED);
}
.nav--list__footer, .footer--links {
  display: flex;
}

.rrss--item {
  margin-bottom: 20px;
  font-size: 30px;
}
.rrss {
  color: var(--RED);
}

/*******FORMATO RESPONSIVE********/
  /*PHONE*/
@media only screen and (max-width: 767px) {

  /*NAV*/
    .main-nav__link {
      visibility: visible;
  }

  .main-nav__link--logo {
      position: relative;
      top: -10px;
      z-index: 1;
      width: 100%;
      margin: 0;
      font-size: 24px;
      text-decoration: none;
      visibility: visible;
  }

  .abrir__menu {
      position: absolute;
      right: 0;
      z-index: 3;
      display: block;
      margin: 20px;
      font-size: 2rem;
      color: var(--WHITE);
      cursor: pointer;
      background-color: transparent;
      border: 0;
  }

  .abrir__menu:hover {
      color: var(--RED);
  }

  .cerrar__menu {
      position: absolute;
      top: 20;
      right: 20;
      z-index: 3;
      display: block;
      font-size: 2rem;
      color: var(--WHITE);
      cursor: pointer;
      background-color: transparent;
      border: 0;
  }

  .cerrar__menu:hover {
      color: var(--BLACK);
  }

  .main-nav__link--info {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      align-items: self-start;
      width: 200px;
      padding: 5rem 2rem;
      margin: 0;
      visibility: hidden;
      background-color: var(--RED);
      border-radius: 15px;
      box-shadow: 0 0 0 1000vmax rgb(0 0 0 / .5);
      opacity: 0;
  }

  .main-nav__item {
      padding: 0px;
      margin: 0;
      font-size: 20px; 
      text-align: start;
  }
  .main-nav__link:hover {
    color: var(--BLACK);
  }

  .main-nav--visible {
      position: fixed;
      z-index: 10;
      gap: 20px;
      visibility: visible;
      opacity: 1;
  }

  .main-nav__link--info--visible .cerrar__menu {
      display: block;
  }

  /*FOOTER*/
  .info--1 {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  main-nav__footer, .nav--list__footer, .footer--links {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 0;
    margin: auto;
    text-align: center;
  }
  .link--logo__footer {
    padding: 20px;
    margin: 0;
    font-size: 20px;
  }

}

