<footer>
    <div class="footer--container">
        <h1 class="footer--header">
            ¿Te animas a participar?
        </h1>
        <div class="footer--info">
            <div class="info--1">
                <!--<a class="footer-link" href="#">Pídenos más información</a>-->
                <button type="button" class="btn btn-secondary" 
                data-bs-toggle="popover" data-bs-placement="right"
                data-bs-custom-class="custom-popover"
                data-bs-title="Síguenos en nuestras RRSS" 
                data-bs-content="No dudes en contactarnos por nuestras RRSS para cualquier información">
            Pídenos más información
        </button>
                <a class="footer-link" href="#">Rellena nuestro formulario</a>
            </div>
            <iv class="info--2">
                <div class="mapa">
                    <div class="ubiacion__llegada">
                        <map class="ubiacion__mapa" name="Jaraíz">
                            <iframe class="ubiacion__mapa--mapa"
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12215.160119720033!2d-5.762125611509589!3d40.05778646772478!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd3e331617d811a7%3A0x25dc955e953ef70d!2s10400%20Jara%C3%ADz%20de%20la%20Vera%2C%20C%C3%A1ceres!5e0!3m2!1ses!2ses!4v1714831818726!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </iframe>
                        </map>
                    </div>
                </div>
        </div>
        <div class="footer-enlaces">
            <div class="main-nav__footer">
                <ul class="nav--list__footer">
                    <div class="footer--link__logo">
                        <li class="main-nav__item__footer">
                            <a href="./index.html" class="link--logo__footer">A mi vera Battle</a>
                        </li>
                    </div>
                    <div class="footer--links" aria-label="Main" id="nav">
                        <li class="main-nav__item__footer">
                            <a href="#" class="link--logo__footer">Nuestros chefs</a>
                        </li>
                        <li class="main-nav__item__footer">
                            <a href="./info.html" class="link--logo__footer">Información</a>
                        </li>
                        <li class="main-nav__item__footer">
                            <a href="#" class="link--logo__footer">Formulario</a>
                        </li>
                    </div>
                </ul>
            </div>
            <div class="footer--rrss">
                <li class="rrss--item">
                    <a href="#"> <i class="rrss fa-brands fa-google-plus-g"></i></a>
                </li>
                <li class="rrss--item">
                    <a href="#"> <i class="rrss fa-brands fa-instagram"></i></a>
                </li>
                <li class="rrss--item">
                    <a href="#"> <i class="rrss fa-brands fa-youtube"></i></a>
                </li>
            </div>
        </div>
</footer>