<nav class="main-nav" aria-label="Main">
    <button class="abrir__menu" id="abrir"><i class="abrir__menu--hamburguesa fa-solid fa-bars"></i></button>
    <ul class="main-nav__list">
        <div class="main-nav__link--logo">
            <li class="main-nav__item">
                <a href="#" class="main-nav__link--logo">A Mi Vera Battle</a>
            </li>
        </div>
        <div class="main-nav__link--info" id="nav">    
            <li class="main-nav__item">
                <a href="./index.html" class="main-nav__link">Nuestros chefs</a>
            </li>
            <li class="main-nav__item">
                <a href="#" class="main-nav__link">Información</a>
            </li>
            <li class="main-nav__item">
                <a href="./contact.html" class="main-nav__link">Formulario</a>
            </li>
            
            <button class="cerrar__menu" id="cerrar"><i class="cerrar__menu--x fa-solid fa-x"></i></button>
        </div>
    </ul>
</nav>

