@use "sass:color";

:root {

  /* Definir las variables de colores */
  --texto: rgb(22 18 0);
  --WHITE: rgb(255 255 255);
  --BLACK: oklch(7.059% 0.114 92.318); /*INTENTÉ CAMBIAR A LOS COLORES CON OKLCH PERO ERAN DEMASIADO BRILLANTES PARA MI DISEÑO*/
  --RED: rgb(199 40 51);
  --fondo: rgb(255 255 255);
  --bg__capa: rgb(0 0 0 / 0.6);  
  --bg__capa2: rgb(0 0 0 / 0.8);

}