@tailwind base;
@tailwind components;

@import "variables";
@font-face {
  font-family: 'Melodrama';
  src: url('../fonts/Melodrama-Semibold.otf');
}
@font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo-VariableFont_wdth\,wght.ttf')
  }
  @font-face {
    font-family: 'Lokanova';
    src: url('../fonts/Lokanova-Std.otf')
  }
  @font-face {
    font-family: 'Tanker';
    src: url('../fonts/Tanker-Regular.otf')
  }

// Importar otros SCSS
@import "layouts/home";
@import "layouts/intro";

@layer components {
  .btn-secondary {
    @apply py-2 px-5 bg-RED text-white font-semibold rounded-full shadow-md hover:bg-black focus:outline-none focus:ring focus:bg-RED;
  }
  .card-chef {
    @apply relative flex align-middle justify-center w-280px h-380px m-auto bg-white rounded-2xl shadow-md
  }
  .chef-img {
    @apply absolute top-0 left-0 w-full h-full object-cover rounded-3xl
  }

}

@tailwind utilities;