@tailwind base;
@tailwind components;

@import "variables";
@font-face {
  font-family: 'Melodrama';
  src: url('../fonts/Melodrama-Semibold.otf');
}
@font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo-VariableFont_wdth\,wght.ttf')
  }
  @font-face {
    font-family: 'Lokanova';
    src: url('../fonts/Lokanova-Std.otf')
  }
  @font-face {
    font-family: 'Tanker';
    src: url('../fonts/Tanker-Regular.otf')
  }

// Importar otros SCSS
@import "layouts/home";
@import "layouts/intro";

@tailwind utilities;